body  {
    background-color:#15202B;
    font-family: 'Times New Roman','ヒラギノ明朝 ProN','Hiragino Mincho ProN','ヒラギノ明朝 Pro','Hiragino Mincho Pro','游明朝体','YuMincho','游明朝','Yu Mincho',serif;
    color:#FFFFFF;
}
